
.wallpaper_img {
  height: 200px;
  overflow: hidden;
}

.wallpaper_img img {
  width: 100%;
}

.profile {
  display: flex;
}

.profile_photo {
  margin: 2% 3%;
}

.profile_photo img {
  width: 150px;
  height: 150px;
}

.profile_info h2 {
  margin-bottom: 8%;
}

.profile_info p {
  margin: 5px;
}