header {
    width: 800px;
    height: 200px;
    border: 2px solid red;
    box-sizing: border-box;
}
div {
    display: flex;
}
nav {
    width: 100px;
    height: 400px;
    border: 2px solid orange;
    box-sizing: border-box;

}
section {
    width: 700px;
    height: 400px;
    border: 2px solid orange;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10%;
}
footer {
    width: 800px;
    height: 200px;
    border: 2px solid grey;
    box-sizing: border-box;
}