.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
  grid-gap: 15px;
  max-width: 1380px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(238, 237, 228);

}