.dialogs {
    display: flex;
}

.users_list {
    color: rgb(68, 68, 68);
    width: 20%;
    border-right: 2px solid rgb(79, 11, 95);
}

.user {
    padding: 15px 0;
}

.avatar img {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}

.messages {
    padding: 15px;
    width: 80%;
    background-color: whitesmoke;
}

.message {
    display: flex;
    margin: 20px;
}

.avatar p {
    margin: 0;
    text-align: center;
}

.text {
    width: 300px;
    margin: 0 60px;
    padding: 20px;
    border: 2px solid rgba(80, 11, 95, 0.422);
    border-radius: 20px;
    background-color:  rgb(238, 237, 228);
}

.user a {
    text-decoration: none;
    color: black;
      }

.user a[class="active"]{
        color: rgb(72, 34, 82);
        font-size: 20px;
      }