#mydocument {
    background-color: #7fe1e1;
    width: 40%;
    border: 1px solid black;
    margin: 2%;
}
#myapp {
    background-color: #9c5d9c;
    color: white;
    width: 40%;
    margin-left: 2%;
    border: 1px solid black;
}