.post {
  margin-left: 30px;
}

.new_post textarea {
  width: 85%;
  height: 100px;
  resize: none;
  padding: 1%;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
}

.button {
 text-align: right;
  margin-right: 15%;
  margin-top: 15px;
}

.button button {  
  width: 100px;
  height: 25px;
  background-color: rgb(57, 49, 131);
  color: white;
}