.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(231, 40, 40, 0.5);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}
.stopwatch-display{
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.dispaly-color {
    background: rgba(22, 97, 12, 0.5);
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}
.telephone {
    margin: 2% 1%;
}
.input {
    width: 320px;
}
.sliderimg {
width: 500px;
} 
.img-wrap {
    position: relative;
    display: inline-block;
}
#previous {
    position: absolute;
    left: 3%;
    top: 50%;
    color: white;
}
#next {
    position: absolute;
    right: 3%;
    top: 50%;
    color: white;
}