.cards {
    background-color: rgb(56, 136, 182);
    color: white;
    border: 2px solid black;
    box-shadow: 5px 8px rgba(162, 159, 159, 0.5);
    width: 30%;
    margin: 10px;
    text-align: center;
}
.people_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btnSubmit {
    color: white;
    background-color: black;
    width: 20%;
    min-height: 10%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.green {
    background-color: green;
}