* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 16px;
}

section#demo {
	background: #fbfbfb;
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
.vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: #fff;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 7px 15px;
}

div.conv-form-wrapper div.options {
    white-space: normal;
}

div.conv-form-wrapper div.options div.option {
    color: #8bbde1;
    border: 1px solid #8bbde1;
}
form.convFormDynamic button.submit {
    color: #8bbde1;
}

form.convFormDynamic button.submit:hover {
    background: #8bbde1;
}

.wrapper-messages .spinLoader {
    color: #8bbde1 !important;
}

.wrapper-messages .spinLoader, .wrapper-messages .spinLoader:before, .wrapper-messages .spinLoader:after {
    color: #8bbde1 !important;
    background: #8bbde1 !important;
}

div.conv-form-wrapper div#messages div.message.from {
    background: #8bbde1;
}

.chat-disabled .message.typing {
    display: none !important;
}

.chat-disabled .convFormDynamic {
    opacity: 0.3;
}