.users_body {
    display: flex;
    justify-content: center;
}

.header {
    margin: 2% 3%;
}

.user_info {
    display: flex;
    margin: 1%;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    border: 2px solid rgba(80, 11, 95, 0.422);
    border-radius: 20px;
    background-color:  whitesmoke;
    
}

.avatar {
    margin: 5px;
    text-align: center;
    }

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.button button {
    width: 100px;
    height: 25px;
    background-color: rgb(57, 49, 131);
    color: white;
}

.user_status div, .user_location div {
padding: 5% 0;
}