.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
li {
    width: 30%;
}
#task3 {
    height: 400px;
    width: 50%;
    border: 2px solid black;
}
div {
    margin-top: 10px;
}
.green {
    background-color: green;
}
#task5 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    transition: all 4s;
}