.post_item {
  display: flex;
  margin-top: 20px;
  }

  .avatar {
    margin-right: 20px;
  }

  .avatar img {
    width: 55px;
    height: 55px;
    border-radius: 30px;
  }

  .text {
    background-color: white;    
    padding: 15px;
    width: 70%;
  }