  .new_message textarea {
      width: 80%;
      height: 100px;
      resize: none;
      padding: 1.5%;
      box-sizing: border-box;
      background-color: white;
      color: black;
      border: none;
      border-radius: 15px;
      font-size: 16px;
      margin-top: 25px;
      margin-left: 15px;
  }

  .button {
      text-align: right;
      margin-right: 18%;
      margin-top: 15px;
  }

  .button button {
      width: 100px;
      height: 25px;
      background-color: rgb(57, 49, 131);
      color: white;
  }