.nav {
  grid-area: n;
  background-color: rgb(57, 49, 131);
}

.nav ul {
  list-style-type: none;
}

.nav ul :last-child {
  margin-top: 50px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav a[class="active"]{
  color: gold;
}

.friends {
  color: white;
  display: flex;
  justify-content: center;
}
